<p class="articles-list-title">{{articleListTitle | uppercase}}</p><br>
<div class="list-group">
  <div class="card">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <div class="content">
      <h2>01</h2>
      <h3>TITLE OF THE FIRST ARTICLE</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus commodi consequuntur cumque
        dignissimos
        dolore, doloremque illo inventore iste iusto nesciunt quasi quia quibusdam quos rem, repellat reprehenderit
        veniam voluptate.</p>
      <a routerLink="/article1" class="list-group-item">Read more</a>
    </div>
  </div>
  <div class="card">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <div class="content">
      <h2>02</h2>
      <h3>TITLE OF THE SECOND ARTICLE</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus commodi consequuntur cumque
        dignissimos
        dolore, doloremque illo inventore iste iusto nesciunt quasi quia quibusdam quos rem, repellat reprehenderit
        veniam voluptate.</p>
      <a routerLink="/article2" class="list-group-item">Read more</a>
    </div>
  </div>
  <div class="card">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <div class="content">
      <h2>03</h2>
      <h3>TITLE OF THE THIRD ARTICLE</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus commodi consequuntur cumque
        dignissimos
        dolore, doloremque illo inventore iste iusto nesciunt quasi quia quibusdam quos rem, repellat reprehenderit
        veniam voluptate.</p>
      <a routerLink="/article3" class="list-group-item">Read more</a>
    </div>
  </div>
  <div class="card">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <div class="content">
      <h2>04</h2>
      <h3>TITLE OF THE FORTH ARTICLE</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus commodi consequuntur cumque
        dignissimos
        dolore, doloremque illo inventore iste iusto nesciunt quasi quia quibusdam quos rem, repellat reprehenderit
        veniam voluptate.</p>
      <a routerLink="/article4" class="list-group-item">Read more</a>
    </div>
  </div>
  <div class="card">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <div class="content">
      <h2>05</h2>
      <h3>TITLE OF THE FIRST ARTICLE</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus commodi consequuntur cumque
        dignissimos
        dolore, doloremque illo inventore iste iusto nesciunt quasi quia quibusdam quos rem, repellat reprehenderit
        veniam voluptate.</p>
      <a routerLink="/article5" class="list-group-item">Read more</a>
    </div>
  </div>
  <button type="button" class="main-btn" routerLink="/main-page">Back to main page</button>
</div>
<hr>
<app-archive></app-archive>



