<div class="main-page">
  <p class="main-page__title">ANGULAR APPLICATION</p>
  <h1 class="main-page__subtitle">MAIN GOAL</h1>
  <div class="main-page__text">
    <p>My main goal was to create an Angular Application</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci, aliquid assumenda et expedita explicabo
      ipsum
      minima neque, nisi non quis quo quos, repellendus rerum saepe vitae voluptatum? Ipsum, iste?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam explicabo harum illo inventore ipsam maxime
      molestiae obcaecati tempore velit vitae. Adipisci dolorem doloremque hic ipsam praesentium sit temporibus
      veritatis
      voluptatibus!</p>
    <p>This page will be fully modified</p>
  </div>
</div>


